.filter .detailview-head > label {
    font-size: 16px;
    color: rgb(182, 0, 0);
    padding-top: 4px;
}

.filter .detailview-head {
    padding: 8px 0;
    width: 100%;
    display: inline-block;
}

.filter .detailview-head .filter-info {
    clear: both;
    padding: 10px 15px;
}

.filter .detailview-head button {
    float: right;
    margin-right: 15px;
    color: #fff;
    background-color: rgb(8, 88, 158);
}

.filter .feature-count {
    margin-left: 4px;
}

.filter .detailview-head .btn:hover {
    opacity: 0.8;
}

.filter .toggleIsActive .glyphicon-remove {
    color:#bbb;
}

.filter .value-views-container {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 8px 15px;
}

.filter .dropdown-container .info-text, .filter .slider-container .info-text {
    font-size: 11px;
}

.filter .value-views-container .text {
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    float:left;
    padding: 6px 4px 0 0;
}

.filter .value-views-container .value-text {
    float:left;
    margin: 2px;
    padding: 3px 6px;
    font-size: 12px;
}

.filter .valueView {
    color: #fff;
    background-color: rgba(0,0,0,.3);
}

.filter .valueView:hover {
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
}

.filter .value-views-container .text {
    padding-left: 0;
}

.filter .value-views-container .remove {
    font-size: 9px;
    padding: 3px 0 0 8px;
    float: right;
}
.filter .value-views-container .remove-all {
    color: rgb(151,151,151);
    background-color: rgba(0,0,0,.05);
}
.filter .value-views-container .remove-all:hover {
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}

.filter .valueView .line-through .value-text {
    color: #fff;
}

.filter .value-views-container .strikethrough {
    position: relative;
    padding: 0;
    margin: 0;
}
.filter .strikethrough:before {
    color: rgb(182, 0, 0);
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    width:100%;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -ms-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform:rotate(-7deg);
}
