<!DOCTYPE html>
<div class="btn-group header">
    <span class="glyphicon <%=glyphicon%>"></span>
    <span class="tool-name"><%= name %></span>
    <% if (isVisibleInMenu === true) { %>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% } %>
</div>
<div class="simple-views-container"></div>
